@use 'pages/header.scss';
@use 'pages/home.scss';
@use 'pages/about.scss';
@use 'pages/offer.scss';
@use 'pages/service.scss';
@use 'pages/team.scss';
@use 'pages/portfolio.scss';
@use 'pages/testimonail.scss';  
@use 'pages/price.scss';
@use 'pages/numbers.scss';
@use 'pages/contact.scss';
@use 'pages/blog.scss';
@use 'general/media.scss';
@use 'general/general-rules.scss';
