$main-font: 'Varela Round', sans-serif;
$alt-font: 'Montserrat', sans-serif;
$main-color: #6195ff;

.container {
    width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-mixin($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

body {
    font-family: $main-font;
}

.clear {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $alt-font;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

.hover-opacity {
    transition: opacity 0.5s;

    &:hover {
        opacity: 0.8;
    }
}
input[type="text"], input[type="email"],
input[type="password"], input[type="number"], 
input[type="url"], textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
}

.ltr-effect {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #333;
        z-index: -1;
        height: 100%;
        transition: width 0.5s;
    }

    &:hover::after {
        width: 100%;
    }
}


.blue-line-nav ::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 2px;
    background-color: #6195FF;
    transition: width .5s;
}

.tb-effect {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #333;
        z-index: -1;
        transition: height 0.5s;

    }

    &:hover::after{
        height: 100%;
    }
}
.section-header {
    text-align: center;
    margin-bottom: 20px;
    width: auto;

    .line {
        display: block;
        width: 60px;
        height: 5px;
        margin: auto;
        background-color: $main-color;
        margin-bottom: 70px;
    }
}

.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pd-y {
    padding: 120px 0;
}
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }



