// about section styles start here
@import "../general/general-rules.scss";


.about {
    display: flex;
    align-items: center;
    position: relative;

    .section-header {
        text-align: center;
        width: 100%;
    }

    .about-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .about-item {
            width: 30%;
            border: 1px solid #e8e8e8;
            padding: 50px 20px;
            position: relative;

            &:hover {
                .about-item-title {
                    color: white;
                }
            }

            .about-item.mg {
                margin: 0 5%;
            }

            .icon {
                color: $main-color;
                margin-bottom: 10px;
            }

            .about-item-desc {
                line-height: 1.6;
                margin-bottom: 10px;
                color: #899999;
            }

            .about-item-link {
                color: $main-color;
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }


}
// about section styles end here