//blog section styles start here
@import "../general/general-rules.scss";
.blog{
    background-color: #fafafa;
    .blog-item{
        width: 30%;
        float: left;
        background: #fff;
        padding: 10px;
        .blog-item-img img{
            width: 100%;
        }
        .blog-list{
            list-style: none;
            li{
                display: inline-block;
                margin: 10px 5px;
                i{
                    color: $main-color;
                }
            }
        }
        .blog-link a{
            text-decoration: none;
            text-transform: capitalize;
            color: $main-color;
        }
        .blog-info{
            color: #999;
        }
    }
    .blog-item.mg{
        margin: 0 5%;
    }
}
//blog-section styles end here