@import "../general/general-rules.scss";

.header {
    position: fixed;
    width: 100%;
    z-index: 10;

    .head-item {
        @extend .flex;



    .logo {
        img {
            width: 100%;
            margin-top: 15px;
        }

        width: 100px;
        float: left;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        text-align: right;

        li {
            padding: 0 5px;
            list-style: none;
        }
    }

    .nav {
        >li {
            >a {
                &::after,
                &.active::after{
                        content: "";
                        display: block;
                        height: 2px;
                        margin-top: 2px;
                        background-color: #6195FF;
                        transition: width .5s;
                }
                &::after{
                    width: 0;
                }
                &:hover::after,
                &.active::after {
                    width: 100%;
                }
                text-decoration: none;
                color: aliceblue;
                font-size: 15px;
                display: block;
                padding: 30px 15px;
                text-transform: capitalize;

                .active {
                    @extend .blue-line-nav;
                    width: 100%;
                }
            }
        }
    }

    .dropdown {
        position: relative;

        .dropdown-menu {
            position: absolute;
            background: $main-color;
            width: 80px;
            text-align: center;
            // left: -50%;
            top: 70%;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            list-style: none;

            a {
                color: #fff;
                display: block;
                padding: 10px;
                text-decoration: none;
            }
        }

        &:hover {
            .dropdown-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

}
// header styles end here