// home section styles start here
@import "../general/general-rules.scss";
.home {
    height: 112vh;
    background-image: url(../Template_1/background1.jpg);
    background-size: cover;
    position: relative;



    .home-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 65%;
    }

    .title {
        color: white;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-family: $alt-font;
    }

    .home-desc {
        margin: 20px 0;
        color: #fff;
        letter-spacing: 2px;
        line-height: 1.5;
    }

    .btn {
        min-width: 160px;
        padding: 15px 0;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-size: 15px;
        text-transform: capitalize;
    }

    .btn-start {
        margin-right: 10px;
        background-color: #fff;
    }

    .btn-learn {
        background-color: $main-color;
        color: #fff;
    }

}

// home section styles end here