//price section styles start here
@import "../general/general-rules.scss";

.price-content{
    display: flex;
    justify-content: space-between;
    width: 100%;

.price-plan{
    border: 1px solid #999;
    width: 30%;
    padding: 10px;
    text-align: center;
    
    text-transform: uppercase;
}

.price-plan-title{
    display: block;
    padding: 40px 0 20px;
    color: #999;
    display: inline-block;
    margin-bottom:20px;
    transition: color .5s;
}
.price-item-permonth{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #6195FF;
    margin: auto;
}
.dollar{
    margin: 0  ;
    position: absolute;
    left: 0 ;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: color .5s;

}
.price-item-list{
    padding-top: 40px;
    line-height: 1.7;
    padding-bottom: 40px;
    list-style: none;
    color: #999;
}
.purchase{
    display: block;
    margin: auto;
    width: 110px;
    height: 42px;
    background-color: transparent;
    border: 2px solid #6195FF;
    color: #6195FF;
}
.price-plan:hover .price-plan-title{
    color: #6195FF;
}
.price-plan:hover .dollar{
    color: #fff;
}
}
//price section styles end here