//services section styles start here
@import "../general/general-rules.scss";

.service{
    background-color: #fafafa;
    .service-content{
        float: left;
        width: 50%;
        .section-header{
            text-align: left;
            margin-bottom: 60px;
            .line{
                margin: 0 0 40px 0;
            }
        }
        .service-content-title{
            font-size:17px;
            margin-bottom:20px;
            line-height: 1.6;
            display: inline-block;
            color:#999;
        }
        .list-service{
            margin: 15px 0;
            i{
                float: left;
                padding: 5px;
                border-radius: 50%;
                color: $main-color;
                border: 1px solid $main-color;
                margin-right: 5px;
            }
            p{
                margin-bottom: 10px;
                color:#999;
            }
        }
        img{
             width:100% ;
        }
        .service-bullets{
            float: left;
            list-style: none;
            width: 12px;
            height: 12px;
            background-color: #999;
            position: relative;
            margin-right: 9px;
            margin-top: 7px;
            left: 50%;
            border: 1px solid #999;
            &:hover{
                background-color: $main-color;
            }
        }
        
        .service-bullets.active{
            background-color: $main-color;
        }
        .service-list{
            text-align: center;
        }
    }
}
//services section styles end here