//testimonial section styles start here
@import "../general/general-rules.scss";

.testimonail{
    position: relative;
    background-image: url(../Template_1/background3.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    .testimonail-content{
        padding: 100px 0 ;
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        .testimonail-item{
            width: 50%;
            padding-left: 20px;
            color: #fff;
        }
        .testimonail-toplayer{
            padding: 10px 2px  40px 100px;
            position: relative;
            img{
                position: absolute;
                border-radius: 50%;
                left: 10px;
                top: 10px;
            }
            h3{
                margin-bottom: 10px;
                color: #fff;
            }
            span{
                color: $main-color;
            }
        }
        .testimonail-desc{
            line-height: 1.5;
            font-size: 15px;
        }
    }

}
//testimonial section styles end here